@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
  color: #fff;
  line-height: 1.6;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(3px);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  opacity: 0.8;
  z-index: 2;
}

nav img {
  width: 300px;
  margin-left: -10px;
}

.nav-links {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  margin-left: 1.5rem;
  color: #FAFAFA;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.866);
  color: #3e3eea;
  transform: scale(1.1);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #FAFAFA;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact-link {
  background-color: #3e3eea;
  color: #000;
  font-weight: 600;
}

.contact-link:hover {
  background-color: #A1A1F1;
  color: #000;
  box-shadow: 0 0 20px rgba(246, 193, 0, 0);
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 0 3rem;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero h1 span {
  background: linear-gradient(-90deg, #15C4FE 20%, #A1A1F1 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero button {
  background-color: #A1A1F1;
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(161, 161, 241, 0.5);
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #5959ec;
  box-shadow: 0 0 30px rgba(143, 210, 255, 0.8);
}

.hero img {
  max-width: 400px;
  animation: rocketMovement 3s infinite ease-in-out;
}

.about {
  padding: 2rem 2rem;
}

.about h2 {
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #A1A1F1;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-text {
  flex: 1 1 400px;
  max-width: 600px;
}

.about-text h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-text p {
  margin-bottom: 2rem;
}

.about-text button {
  background-color: #A1A1F1;
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-text button:hover {
  background-color: #5959ec;
  box-shadow: 0 0 20px rgba(143, 210, 255, 0.8);
}

.about-image {
  flex: 1 1 400px;
  max-width: 400px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.image-carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.image-carousel img {
  width: 250px;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.image-carousel img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.our-vision {
  padding: 4rem 9rem;
  text-align: left;
  color: #ffffff;
}

.our-vision h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #A1A1F1;
  text-align: center;
}

.our-vision p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: left;
}

.our-vision p:nth-child(3) {
  text-align: center;
}

.our-vision ul li {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.team {
  padding: 5rem 2rem;
  text-align: center;
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #A1A1F1;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  margin-bottom: 2rem;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member-info {
  text-align: center;
}

.team-member-info h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.team-member-info p {
  font-size: 1rem;
  color: #666;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #A1A1F1;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 1em 9em;
}

.contact-links img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  .team-row {
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .hero img {
    display: none;
    max-width: 300px;
  }
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #090a0f;
    flex-direction: column;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }
  .nav-links.active {
    transform: translateX(0);
  }
  .nav-links a {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }
  .nav-toggle {
    display: block;
  }
  .team-row {
    flex-direction: column;
  }
  .team-member {
    flex-direction: column;
    text-align: center;
  }
  .team-member img {
    margin-bottom: 10px;
  }
  .team-member-info {
    text-align: center;
  }
}
@keyframes rocketMovement {
  0% {
    transform: translateY(0) scaleX(-1);
  }
  50% {
    transform: translateY(-10%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}
#stars, #stars2, #stars3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 587px 286px #FFF , 1179px 860px #FFF , 674px 1801px #FFF , 1228px 1490px #FFF , 952px 1916px #FFF , 949px 227px #FFF , 481px 18px #FFF , 1405px 14px #FFF , 460px 1036px #FFF , 1718px 87px #FFF , 1288px 504px #FFF , 740px 1289px #FFF , 93px 911px #FFF , 1246px 246px #FFF , 176px 244px #FFF , 577px 882px #FFF , 64px 994px #FFF , 1586px 1805px #FFF , 1927px 1540px #FFF , 1693px 820px #FFF , 124px 1477px #FFF , 462px 844px #FFF , 281px 182px #FFF , 71px 886px #FFF , 225px 810px #FFF , 878px 354px #FFF , 607px 1576px #FFF , 54px 336px #FFF , 1646px 1945px #FFF , 1775px 1469px #FFF , 1790px 1056px #FFF , 1742px 1340px #FFF , 601px 752px #FFF , 634px 1231px #FFF , 1981px 114px #FFF , 883px 1869px #FFF , 957px 548px #FFF , 1786px 1812px #FFF , 407px 1210px #FFF , 1761px 578px #FFF , 1531px 1139px #FFF , 354px 1569px #FFF , 854px 1932px #FFF , 1992px 778px #FFF , 990px 1850px #FFF , 1340px 1227px #FFF , 1319px 1878px #FFF , 1039px 868px #FFF , 427px 261px #FFF , 1081px 1939px #FFF , 1694px 958px #FFF , 1279px 392px #FFF , 736px 954px #FFF , 1684px 936px #FFF , 1157px 631px #FFF , 1872px 1572px #FFF , 1860px 1627px #FFF , 1180px 1489px #FFF , 960px 1496px #FFF , 482px 1957px #FFF , 1598px 1906px #FFF , 385px 537px #FFF , 1287px 1082px #FFF , 633px 1987px #FFF , 205px 1748px #FFF , 382px 1030px #FFF , 1132px 217px #FFF , 1851px 929px #FFF , 21px 1616px #FFF , 1767px 547px #FFF , 1680px 759px #FFF , 29px 1160px #FFF , 55px 1635px #FFF , 1438px 162px #FFF , 227px 1227px #FFF , 1823px 189px #FFF , 1952px 1212px #FFF , 777px 893px #FFF , 1205px 1574px #FFF , 854px 43px #FFF , 1041px 1539px #FFF , 270px 1513px #FFF , 609px 230px #FFF , 476px 223px #FFF , 399px 1021px #FFF , 480px 867px #FFF , 725px 374px #FFF , 1502px 1123px #FFF , 1376px 626px #FFF , 1161px 199px #FFF , 988px 502px #FFF , 979px 1373px #FFF , 587px 431px #FFF , 212px 647px #FFF , 864px 838px #FFF , 1239px 1142px #FFF , 1479px 1571px #FFF , 1473px 567px #FFF , 1839px 1085px #FFF , 1561px 1972px #FFF , 1519px 1702px #FFF , 1166px 942px #FFF , 1205px 738px #FFF , 131px 132px #FFF , 1811px 442px #FFF , 216px 1047px #FFF , 1806px 1522px #FFF , 129px 1440px #FFF , 323px 882px #FFF , 942px 1922px #FFF , 71px 579px #FFF , 1788px 1038px #FFF , 1184px 673px #FFF , 703px 1136px #FFF , 1679px 482px #FFF , 1479px 1870px #FFF , 1660px 76px #FFF , 1402px 1546px #FFF , 177px 1230px #FFF , 58px 133px #FFF , 1813px 1899px #FFF , 689px 1377px #FFF , 54px 1657px #FFF , 322px 886px #FFF , 357px 1658px #FFF , 1082px 370px #FFF , 583px 1345px #FFF , 1546px 1038px #FFF , 1674px 1964px #FFF , 1647px 1596px #FFF , 1888px 828px #FFF , 79px 97px #FFF , 1332px 850px #FFF , 1125px 1077px #FFF , 1688px 234px #FFF , 1550px 549px #FFF , 1859px 277px #FFF , 607px 1576px #FFF , 1188px 1961px #FFF , 26px 991px #FFF , 1369px 1682px #FFF , 1426px 1978px #FFF , 1513px 573px #FFF , 54px 1050px #FFF , 1551px 165px #FFF , 45px 922px #FFF , 1268px 1372px #FFF , 924px 717px #FFF , 131px 1449px #FFF , 1405px 1022px #FFF , 956px 440px #FFF , 710px 186px #FFF , 543px 1890px #FFF , 1225px 1844px #FFF , 1702px 1243px #FFF , 22px 1786px #FFF , 94px 661px #FFF , 1912px 1319px #FFF , 268px 327px #FFF , 1444px 1482px #FFF , 187px 1619px #FFF , 940px 111px #FFF , 442px 1606px #FFF , 638px 25px #FFF , 1636px 1427px #FFF , 1239px 1244px #FFF , 1542px 402px #FFF , 205px 1234px #FFF , 1972px 997px #FFF , 1561px 1478px #FFF , 771px 323px #FFF , 1598px 465px #FFF , 1522px 95px #FFF , 1153px 1300px #FFF , 240px 594px #FFF , 1105px 787px #FFF , 1126px 1137px #FFF , 73px 482px #FFF , 1522px 220px #FFF , 775px 351px #FFF , 300px 189px #FFF , 1105px 1126px #FFF , 579px 521px #FFF , 1489px 780px #FFF , 770px 894px #FFF , 275px 1306px #FFF , 1764px 1350px #FFF , 875px 110px #FFF , 360px 952px #FFF , 370px 666px #FFF , 1200px 1624px #FFF , 869px 1977px #FFF , 380px 1285px #FFF , 1280px 1041px #FFF , 1973px 203px #FFF , 721px 1053px #FFF , 1000px 1325px #FFF , 1895px 1557px #FFF , 220px 114px #FFF , 390px 285px #FFF , 606px 104px #FFF , 46px 396px #FFF , 1496px 54px #FFF , 517px 946px #FFF , 1652px 2px #FFF , 152px 650px #FFF , 1111px 1160px #FFF , 1843px 1800px #FFF , 506px 1994px #FFF , 244px 1169px #FFF , 1640px 899px #FFF , 1993px 1797px #FFF , 69px 7px #FFF , 528px 61px #FFF , 394px 1832px #FFF , 1842px 288px #FFF , 34px 319px #FFF , 203px 434px #FFF , 1388px 1110px #FFF , 666px 526px #FFF , 279px 487px #FFF , 617px 1602px #FFF , 1725px 1363px #FFF , 1688px 1351px #FFF , 1826px 886px #FFF , 787px 1533px #FFF , 1410px 1643px #FFF , 1293px 1849px #FFF , 608px 1373px #FFF , 1457px 1943px #FFF , 1938px 979px #FFF , 677px 1330px #FFF , 832px 114px #FFF , 406px 653px #FFF , 1090px 35px #FFF , 1306px 1009px #FFF , 107px 1529px #FFF , 1672px 134px #FFF , 1934px 83px #FFF , 1493px 895px #FFF , 586px 334px #FFF , 1676px 1302px #FFF , 1279px 35px #FFF , 126px 975px #FFF , 1986px 1259px #FFF , 1357px 1672px #FFF , 469px 1476px #FFF , 1319px 947px #FFF , 829px 221px #FFF , 609px 929px #FFF , 1804px 1103px #FFF , 55px 1287px #FFF , 777px 610px #FFF , 1855px 1383px #FFF , 1646px 1837px #FFF , 104px 1060px #FFF , 1804px 1833px #FFF , 950px 772px #FFF , 365px 58px #FFF , 1163px 1316px #FFF , 581px 1529px #FFF , 1233px 252px #FFF , 517px 1507px #FFF , 1286px 228px #FFF , 1149px 216px #FFF , 23px 958px #FFF , 1276px 1971px #FFF , 556px 1850px #FFF , 1056px 1789px #FFF , 1266px 1794px #FFF , 244px 1683px #FFF , 735px 1757px #FFF , 399px 1694px #FFF , 479px 576px #FFF , 1756px 256px #FFF , 568px 1497px #FFF , 231px 1882px #FFF , 1805px 407px #FFF , 1175px 1308px #FFF , 375px 487px #FFF , 1877px 22px #FFF , 326px 996px #FFF , 1464px 137px #FFF , 1042px 737px #FFF , 1912px 1056px #FFF , 1047px 932px #FFF , 1548px 200px #FFF , 556px 1139px #FFF , 291px 1847px #FFF , 1138px 1848px #FFF , 1474px 1300px #FFF , 404px 820px #FFF , 1377px 1967px #FFF , 1021px 387px #FFF , 557px 1156px #FFF , 1635px 80px #FFF , 914px 1069px #FFF , 1033px 1882px #FFF , 502px 1680px #FFF , 1395px 91px #FFF , 1274px 963px #FFF , 864px 770px #FFF , 1072px 1161px #FFF , 953px 795px #FFF , 1553px 524px #FFF , 1113px 1166px #FFF , 1126px 581px #FFF , 906px 110px #FFF , 1686px 1482px #FFF , 1639px 1384px #FFF , 1409px 1456px #FFF , 547px 1945px #FFF , 225px 1083px #FFF , 1076px 143px #FFF , 1364px 1460px #FFF , 282px 724px #FFF , 1122px 3px #FFF , 1336px 1405px #FFF , 873px 603px #FFF , 1716px 78px #FFF , 1243px 1434px #FFF , 441px 1126px #FFF , 383px 369px #FFF , 169px 1505px #FFF , 1935px 14px #FFF , 1904px 304px #FFF , 465px 468px #FFF , 1944px 1899px #FFF , 1424px 427px #FFF , 1638px 1205px #FFF , 1841px 1553px #FFF , 1062px 181px #FFF , 516px 848px #FFF , 65px 1916px #FFF , 583px 179px #FFF , 1128px 1976px #FFF , 968px 361px #FFF , 47px 1893px #FFF , 1964px 1977px #FFF , 1764px 311px #FFF , 1236px 632px #FFF , 295px 1619px #FFF , 66px 553px #FFF , 653px 974px #FFF , 1749px 859px #FFF , 1340px 1431px #FFF , 656px 1539px #FFF , 278px 364px #FFF , 1719px 935px #FFF , 917px 1243px #FFF , 1654px 1076px #FFF , 338px 948px #FFF , 1513px 220px #FFF , 934px 1558px #FFF , 1075px 1911px #FFF , 1225px 303px #FFF , 1638px 1497px #FFF , 75px 34px #FFF , 1740px 1328px #FFF , 726px 1200px #FFF , 5px 1590px #FFF , 1462px 1056px #FFF , 416px 51px #FFF , 550px 289px #FFF , 1364px 1786px #FFF , 218px 278px #FFF , 403px 1748px #FFF , 1757px 1238px #FFF , 1475px 1680px #FFF , 1840px 1418px #FFF , 540px 1786px #FFF , 1486px 1866px #FFF , 9px 362px #FFF , 30px 1715px #FFF , 1296px 683px #FFF , 728px 1810px #FFF , 1866px 1505px #FFF , 1503px 1299px #FFF , 1607px 582px #FFF , 1625px 1321px #FFF , 720px 1486px #FFF , 1187px 54px #FFF , 1878px 1489px #FFF , 1061px 1515px #FFF , 1678px 248px #FFF , 554px 707px #FFF , 980px 1174px #FFF , 1922px 1535px #FFF , 1170px 750px #FFF , 1762px 1419px #FFF , 95px 1866px #FFF , 1004px 1007px #FFF , 1331px 381px #FFF , 1650px 1514px #FFF , 226px 284px #FFF , 1382px 824px #FFF , 183px 1441px #FFF , 476px 185px #FFF , 190px 1048px #FFF , 1245px 411px #FFF , 1284px 1594px #FFF , 973px 1706px #FFF , 1338px 1241px #FFF , 829px 1963px #FFF , 1736px 473px #FFF , 1277px 872px #FFF , 1170px 274px #FFF , 1938px 1135px #FFF , 1403px 1812px #FFF , 665px 234px #FFF , 1897px 1951px #FFF , 103px 395px #FFF , 293px 836px #FFF , 255px 90px #FFF , 1929px 1878px #FFF , 790px 1444px #FFF , 1980px 679px #FFF , 1915px 1936px #FFF , 820px 482px #FFF , 789px 161px #FFF , 1146px 1285px #FFF , 40px 382px #FFF , 101px 1006px #FFF , 150px 1692px #FFF , 1082px 1551px #FFF , 1416px 1960px #FFF , 280px 1723px #FFF , 1423px 1627px #FFF , 716px 868px #FFF , 1345px 678px #FFF , 1649px 1942px #FFF , 961px 496px #FFF , 100px 1607px #FFF , 1119px 1863px #FFF , 1791px 5px #FFF , 1101px 213px #FFF , 1077px 79px #FFF , 1936px 1013px #FFF , 1770px 676px #FFF , 501px 650px #FFF , 1388px 815px #FFF , 1669px 720px #FFF , 1486px 1810px #FFF , 50px 1490px #FFF , 1180px 1539px #FFF , 1645px 1190px #FFF , 976px 329px #FFF , 738px 259px #FFF , 1714px 919px #FFF , 781px 664px #FFF , 1373px 510px #FFF , 258px 1461px #FFF , 1032px 1954px #FFF , 1611px 43px #FFF , 1625px 1695px #FFF , 1721px 57px #FFF , 1326px 1569px #FFF , 942px 241px #FFF , 420px 1379px #FFF , 1417px 1256px #FFF , 216px 297px #FFF , 419px 942px #FFF , 1831px 1349px #FFF , 68px 92px #FFF , 1274px 409px #FFF , 397px 426px #FFF , 784px 1874px #FFF , 1624px 286px #FFF , 1488px 70px #FFF , 1133px 1910px #FFF , 848px 1238px #FFF , 429px 1216px #FFF , 435px 769px #FFF , 423px 422px #FFF , 1296px 42px #FFF , 1621px 1198px #FFF , 1634px 362px #FFF , 1099px 904px #FFF , 1891px 1873px #FFF , 1227px 1558px #FFF , 421px 1773px #FFF , 58px 1245px #FFF , 1937px 546px #FFF , 1007px 1209px #FFF , 1511px 1881px #FFF , 950px 566px #FFF , 1250px 851px #FFF , 198px 607px #FFF , 1791px 1843px #FFF , 1568px 1124px #FFF , 1607px 143px #FFF , 194px 1017px #FFF , 243px 549px #FFF , 621px 1115px #FFF , 1007px 390px #FFF , 994px 486px #FFF , 334px 1467px #FFF , 746px 1800px #FFF , 494px 1895px #FFF , 539px 807px #FFF , 970px 1417px #FFF , 87px 1387px #FFF , 18px 596px #FFF , 1631px 1145px #FFF , 1521px 1982px #FFF , 383px 428px #FFF , 1955px 1339px #FFF , 607px 1390px #FFF , 1227px 1469px #FFF , 1182px 32px #FFF , 1128px 36px #FFF , 1860px 863px #FFF , 1099px 433px #FFF , 1689px 471px #FFF , 1265px 1306px #FFF , 32px 1912px #FFF , 131px 330px #FFF , 1482px 391px #FFF , 600px 265px #FFF , 210px 1804px #FFF , 574px 1564px #FFF , 618px 371px #FFF , 1888px 1521px #FFF , 1739px 1590px #FFF , 811px 151px #FFF , 1843px 1600px #FFF , 1140px 1753px #FFF , 1838px 736px #FFF , 1184px 1966px #FFF , 1305px 1855px #FFF , 865px 601px #FFF , 725px 1775px #FFF , 899px 1278px #FFF , 1504px 400px #FFF , 47px 396px #FFF , 670px 1471px #FFF , 1896px 1131px #FFF , 28px 813px #FFF , 885px 1879px #FFF , 307px 233px #FFF , 237px 1778px #FFF , 296px 195px #FFF , 993px 1894px #FFF , 880px 878px #FFF , 863px 1065px #FFF , 830px 251px #FFF , 1810px 1063px #FFF , 1642px 166px #FFF , 1181px 792px #FFF , 1086px 286px #FFF , 106px 1214px #FFF , 778px 52px #FFF , 1667px 1872px #FFF , 267px 1776px #FFF , 1841px 907px #FFF , 83px 839px #FFF , 246px 483px #FFF , 1374px 966px #FFF , 1910px 1970px #FFF , 1098px 542px #FFF , 239px 11px #FFF , 1704px 502px #FFF , 1567px 1190px #FFF , 1584px 1865px #FFF , 171px 1671px #FFF , 1722px 1361px #FFF , 520px 921px #FFF , 1803px 50px #FFF , 596px 1347px #FFF , 120px 4px #FFF , 693px 802px #FFF , 1387px 1135px #FFF , 1094px 1092px #FFF , 295px 782px #FFF , 328px 35px #FFF , 916px 1309px #FFF , 194px 439px #FFF , 995px 1030px #FFF , 1646px 827px #FFF , 385px 76px #FFF , 1765px 1766px #FFF , 402px 769px #FFF , 2px 907px #FFF , 575px 22px #FFF , 1152px 534px #FFF , 539px 151px #FFF , 1128px 1912px #FFF , 162px 1935px #FFF , 91px 382px #FFF , 483px 420px #FFF , 613px 637px #FFF , 1717px 332px #FFF , 322px 1353px #FFF , 395px 879px #FFF , 571px 366px #FFF , 394px 439px #FFF , 756px 1635px #FFF , 135px 1732px #FFF , 1392px 635px #FFF , 1186px 318px #FFF , 1678px 1856px #FFF , 1072px 86px #FFF , 539px 633px #FFF , 891px 1935px #FFF , 406px 852px #FFF , 746px 1385px #FFF , 1789px 327px #FFF , 304px 432px #FFF , 1489px 1789px #FFF , 1035px 1220px #FFF , 1457px 1727px #FFF , 1823px 735px #FFF , 418px 1979px #FFF , 1422px 366px #FFF , 1274px 1188px #FFF , 1584px 986px #FFF , 1708px 1505px #FFF , 1731px 1943px #FFF , 739px 615px #FFF , 1414px 61px #FFF , 359px 647px #FFF , 187px 1734px #FFF , 637px 521px #FFF , 49px 1235px #FFF , 327px 1290px #FFF , 1665px 1233px #FFF , 1984px 147px #FFF , 666px 1344px #FFF , 1107px 1186px #FFF , 1594px 201px #FFF , 1335px 1579px #FFF , 1661px 252px #FFF , 1443px 511px #FFF , 1340px 240px #FFF , 1336px 1176px #FFF , 715px 84px #FFF , 1210px 433px #FFF , 1348px 1146px #FFF , 1405px 407px #FFF , 384px 973px #FFF , 262px 144px #FFF , 204px 1275px #FFF , 1312px 298px #FFF , 1452px 203px #FFF , 451px 860px #FFF , 1227px 633px #FFF , 857px 92px #FFF , 1248px 499px #FFF , 1086px 976px #FFF , 1343px 1735px #FFF , 1175px 1333px #FFF , 659px 1956px #FFF , 852px 565px #FFF , 149px 1122px #FFF , 515px 1147px #FFF , 855px 1907px #FFF , 1185px 883px #FFF , 1850px 614px #FFF , 725px 1047px #FFF , 1742px 1021px #FFF , 1536px 1979px #FFF , 1506px 1603px #FFF , 1665px 385px #FFF , 1763px 624px #FFF , 392px 1379px #FFF , 598px 594px #FFF , 201px 300px #FFF , 1840px 1630px #FFF , 803px 1286px #FFF , 726px 308px #FFF , 500px 138px #FFF , 1599px 1583px #FFF , 922px 1121px #FFF , 593px 1965px #FFF , 1985px 975px #FFF , 1691px 975px #FFF , 678px 1442px #FFF , 544px 1551px #FFF , 62px 119px #FFF , 1895px 1537px #FFF , 1596px 1729px #FFF , 126px 497px #FFF , 1390px 1503px #FFF , 424px 1603px #FFF , 485px 249px #FFF , 953px 254px #FFF , 275px 1862px #FFF , 1401px 1051px #FFF , 53px 641px #FFF , 352px 194px #FFF , 1149px 1145px #FFF , 1423px 111px #FFF , 1752px 529px #FFF , 967px 704px #FFF , 668px 368px #FFF , 21px 1496px #FFF , 831px 1107px #FFF , 1707px 178px #FFF , 476px 1050px #FFF , 1234px 1425px #FFF;
  animation: animStar 50s linear infinite;
  z-index: -10;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 587px 286px #FFF , 1179px 860px #FFF , 674px 1801px #FFF , 1228px 1490px #FFF , 952px 1916px #FFF , 949px 227px #FFF , 481px 18px #FFF , 1405px 14px #FFF , 460px 1036px #FFF , 1718px 87px #FFF , 1288px 504px #FFF , 740px 1289px #FFF , 93px 911px #FFF , 1246px 246px #FFF , 176px 244px #FFF , 577px 882px #FFF , 64px 994px #FFF , 1586px 1805px #FFF , 1927px 1540px #FFF , 1693px 820px #FFF , 124px 1477px #FFF , 462px 844px #FFF , 281px 182px #FFF , 71px 886px #FFF , 225px 810px #FFF , 878px 354px #FFF , 607px 1576px #FFF , 54px 336px #FFF , 1646px 1945px #FFF , 1775px 1469px #FFF , 1790px 1056px #FFF , 1742px 1340px #FFF , 601px 752px #FFF , 634px 1231px #FFF , 1981px 114px #FFF , 883px 1869px #FFF , 957px 548px #FFF , 1786px 1812px #FFF , 407px 1210px #FFF , 1761px 578px #FFF , 1531px 1139px #FFF , 354px 1569px #FFF , 854px 1932px #FFF , 1992px 778px #FFF , 990px 1850px #FFF , 1340px 1227px #FFF , 1319px 1878px #FFF , 1039px 868px #FFF , 427px 261px #FFF , 1081px 1939px #FFF , 1694px 958px #FFF , 1279px 392px #FFF , 736px 954px #FFF , 1684px 936px #FFF , 1157px 631px #FFF , 1872px 1572px #FFF , 1860px 1627px #FFF , 1180px 1489px #FFF , 960px 1496px #FFF , 482px 1957px #FFF , 1598px 1906px #FFF , 385px 537px #FFF , 1287px 1082px #FFF , 633px 1987px #FFF , 205px 1748px #FFF , 382px 1030px #FFF , 1132px 217px #FFF , 1851px 929px #FFF , 21px 1616px #FFF , 1767px 547px #FFF , 1680px 759px #FFF , 29px 1160px #FFF , 55px 1635px #FFF , 1438px 162px #FFF , 227px 1227px #FFF , 1823px 189px #FFF , 1952px 1212px #FFF , 777px 893px #FFF , 1205px 1574px #FFF , 854px 43px #FFF , 1041px 1539px #FFF , 270px 1513px #FFF , 609px 230px #FFF , 476px 223px #FFF , 399px 1021px #FFF , 480px 867px #FFF , 725px 374px #FFF , 1502px 1123px #FFF , 1376px 626px #FFF , 1161px 199px #FFF , 988px 502px #FFF , 979px 1373px #FFF , 587px 431px #FFF , 212px 647px #FFF , 864px 838px #FFF , 1239px 1142px #FFF , 1479px 1571px #FFF , 1473px 567px #FFF , 1839px 1085px #FFF , 1561px 1972px #FFF , 1519px 1702px #FFF , 1166px 942px #FFF , 1205px 738px #FFF , 131px 132px #FFF , 1811px 442px #FFF , 216px 1047px #FFF , 1806px 1522px #FFF , 129px 1440px #FFF , 323px 882px #FFF , 942px 1922px #FFF , 71px 579px #FFF , 1788px 1038px #FFF , 1184px 673px #FFF , 703px 1136px #FFF , 1679px 482px #FFF , 1479px 1870px #FFF , 1660px 76px #FFF , 1402px 1546px #FFF , 177px 1230px #FFF , 58px 133px #FFF , 1813px 1899px #FFF , 689px 1377px #FFF , 54px 1657px #FFF , 322px 886px #FFF , 357px 1658px #FFF , 1082px 370px #FFF , 583px 1345px #FFF , 1546px 1038px #FFF , 1674px 1964px #FFF , 1647px 1596px #FFF , 1888px 828px #FFF , 79px 97px #FFF , 1332px 850px #FFF , 1125px 1077px #FFF , 1688px 234px #FFF , 1550px 549px #FFF , 1859px 277px #FFF , 607px 1576px #FFF , 1188px 1961px #FFF , 26px 991px #FFF , 1369px 1682px #FFF , 1426px 1978px #FFF , 1513px 573px #FFF , 54px 1050px #FFF , 1551px 165px #FFF , 45px 922px #FFF , 1268px 1372px #FFF , 924px 717px #FFF , 131px 1449px #FFF , 1405px 1022px #FFF , 956px 440px #FFF , 710px 186px #FFF , 543px 1890px #FFF , 1225px 1844px #FFF , 1702px 1243px #FFF , 22px 1786px #FFF , 94px 661px #FFF , 1912px 1319px #FFF , 268px 327px #FFF , 1444px 1482px #FFF , 187px 1619px #FFF , 940px 111px #FFF , 442px 1606px #FFF , 638px 25px #FFF , 1636px 1427px #FFF , 1239px 1244px #FFF , 1542px 402px #FFF , 205px 1234px #FFF , 1972px 997px #FFF , 1561px 1478px #FFF , 771px 323px #FFF , 1598px 465px #FFF , 1522px 95px #FFF , 1153px 1300px #FFF , 240px 594px #FFF , 1105px 787px #FFF , 1126px 1137px #FFF , 73px 482px #FFF , 1522px 220px #FFF , 775px 351px #FFF , 300px 189px #FFF , 1105px 1126px #FFF , 579px 521px #FFF , 1489px 780px #FFF , 770px 894px #FFF , 275px 1306px #FFF , 1764px 1350px #FFF , 875px 110px #FFF , 360px 952px #FFF , 370px 666px #FFF , 1200px 1624px #FFF , 869px 1977px #FFF , 380px 1285px #FFF , 1280px 1041px #FFF , 1973px 203px #FFF , 721px 1053px #FFF , 1000px 1325px #FFF , 1895px 1557px #FFF , 220px 114px #FFF , 390px 285px #FFF , 606px 104px #FFF , 46px 396px #FFF , 1496px 54px #FFF , 517px 946px #FFF , 1652px 2px #FFF , 152px 650px #FFF , 1111px 1160px #FFF , 1843px 1800px #FFF , 506px 1994px #FFF , 244px 1169px #FFF , 1640px 899px #FFF , 1993px 1797px #FFF , 69px 7px #FFF , 528px 61px #FFF , 394px 1832px #FFF , 1842px 288px #FFF , 34px 319px #FFF , 203px 434px #FFF , 1388px 1110px #FFF , 666px 526px #FFF , 279px 487px #FFF , 617px 1602px #FFF , 1725px 1363px #FFF , 1688px 1351px #FFF , 1826px 886px #FFF , 787px 1533px #FFF , 1410px 1643px #FFF , 1293px 1849px #FFF , 608px 1373px #FFF , 1457px 1943px #FFF , 1938px 979px #FFF , 677px 1330px #FFF , 832px 114px #FFF , 406px 653px #FFF , 1090px 35px #FFF , 1306px 1009px #FFF , 107px 1529px #FFF , 1672px 134px #FFF , 1934px 83px #FFF , 1493px 895px #FFF , 586px 334px #FFF , 1676px 1302px #FFF , 1279px 35px #FFF , 126px 975px #FFF , 1986px 1259px #FFF , 1357px 1672px #FFF , 469px 1476px #FFF , 1319px 947px #FFF , 829px 221px #FFF , 609px 929px #FFF , 1804px 1103px #FFF , 55px 1287px #FFF , 777px 610px #FFF , 1855px 1383px #FFF , 1646px 1837px #FFF , 104px 1060px #FFF , 1804px 1833px #FFF , 950px 772px #FFF , 365px 58px #FFF , 1163px 1316px #FFF , 581px 1529px #FFF , 1233px 252px #FFF , 517px 1507px #FFF , 1286px 228px #FFF , 1149px 216px #FFF , 23px 958px #FFF , 1276px 1971px #FFF , 556px 1850px #FFF , 1056px 1789px #FFF , 1266px 1794px #FFF , 244px 1683px #FFF , 735px 1757px #FFF , 399px 1694px #FFF , 479px 576px #FFF , 1756px 256px #FFF , 568px 1497px #FFF , 231px 1882px #FFF , 1805px 407px #FFF , 1175px 1308px #FFF , 375px 487px #FFF , 1877px 22px #FFF , 326px 996px #FFF , 1464px 137px #FFF , 1042px 737px #FFF , 1912px 1056px #FFF , 1047px 932px #FFF , 1548px 200px #FFF , 556px 1139px #FFF , 291px 1847px #FFF , 1138px 1848px #FFF , 1474px 1300px #FFF , 404px 820px #FFF , 1377px 1967px #FFF , 1021px 387px #FFF , 557px 1156px #FFF , 1635px 80px #FFF , 914px 1069px #FFF , 1033px 1882px #FFF , 502px 1680px #FFF , 1395px 91px #FFF , 1274px 963px #FFF , 864px 770px #FFF , 1072px 1161px #FFF , 953px 795px #FFF , 1553px 524px #FFF , 1113px 1166px #FFF , 1126px 581px #FFF , 906px 110px #FFF , 1686px 1482px #FFF , 1639px 1384px #FFF , 1409px 1456px #FFF , 547px 1945px #FFF , 225px 1083px #FFF , 1076px 143px #FFF , 1364px 1460px #FFF , 282px 724px #FFF , 1122px 3px #FFF , 1336px 1405px #FFF , 873px 603px #FFF , 1716px 78px #FFF , 1243px 1434px #FFF , 441px 1126px #FFF , 383px 369px #FFF , 169px 1505px #FFF , 1935px 14px #FFF , 1904px 304px #FFF , 465px 468px #FFF , 1944px 1899px #FFF , 1424px 427px #FFF , 1638px 1205px #FFF , 1841px 1553px #FFF , 1062px 181px #FFF , 516px 848px #FFF , 65px 1916px #FFF , 583px 179px #FFF , 1128px 1976px #FFF , 968px 361px #FFF , 47px 1893px #FFF , 1964px 1977px #FFF , 1764px 311px #FFF , 1236px 632px #FFF , 295px 1619px #FFF , 66px 553px #FFF , 653px 974px #FFF , 1749px 859px #FFF , 1340px 1431px #FFF , 656px 1539px #FFF , 278px 364px #FFF , 1719px 935px #FFF , 917px 1243px #FFF , 1654px 1076px #FFF , 338px 948px #FFF , 1513px 220px #FFF , 934px 1558px #FFF , 1075px 1911px #FFF , 1225px 303px #FFF , 1638px 1497px #FFF , 75px 34px #FFF , 1740px 1328px #FFF , 726px 1200px #FFF , 5px 1590px #FFF , 1462px 1056px #FFF , 416px 51px #FFF , 550px 289px #FFF , 1364px 1786px #FFF , 218px 278px #FFF , 403px 1748px #FFF , 1757px 1238px #FFF , 1475px 1680px #FFF , 1840px 1418px #FFF , 540px 1786px #FFF , 1486px 1866px #FFF , 9px 362px #FFF , 30px 1715px #FFF , 1296px 683px #FFF , 728px 1810px #FFF , 1866px 1505px #FFF , 1503px 1299px #FFF , 1607px 582px #FFF , 1625px 1321px #FFF , 720px 1486px #FFF , 1187px 54px #FFF , 1878px 1489px #FFF , 1061px 1515px #FFF , 1678px 248px #FFF , 554px 707px #FFF , 980px 1174px #FFF , 1922px 1535px #FFF , 1170px 750px #FFF , 1762px 1419px #FFF , 95px 1866px #FFF , 1004px 1007px #FFF , 1331px 381px #FFF , 1650px 1514px #FFF , 226px 284px #FFF , 1382px 824px #FFF , 183px 1441px #FFF , 476px 185px #FFF , 190px 1048px #FFF , 1245px 411px #FFF , 1284px 1594px #FFF , 973px 1706px #FFF , 1338px 1241px #FFF , 829px 1963px #FFF , 1736px 473px #FFF , 1277px 872px #FFF , 1170px 274px #FFF , 1938px 1135px #FFF , 1403px 1812px #FFF , 665px 234px #FFF , 1897px 1951px #FFF , 103px 395px #FFF , 293px 836px #FFF , 255px 90px #FFF , 1929px 1878px #FFF , 790px 1444px #FFF , 1980px 679px #FFF , 1915px 1936px #FFF , 820px 482px #FFF , 789px 161px #FFF , 1146px 1285px #FFF , 40px 382px #FFF , 101px 1006px #FFF , 150px 1692px #FFF , 1082px 1551px #FFF , 1416px 1960px #FFF , 280px 1723px #FFF , 1423px 1627px #FFF , 716px 868px #FFF , 1345px 678px #FFF , 1649px 1942px #FFF , 961px 496px #FFF , 100px 1607px #FFF , 1119px 1863px #FFF , 1791px 5px #FFF , 1101px 213px #FFF , 1077px 79px #FFF , 1936px 1013px #FFF , 1770px 676px #FFF , 501px 650px #FFF , 1388px 815px #FFF , 1669px 720px #FFF , 1486px 1810px #FFF , 50px 1490px #FFF , 1180px 1539px #FFF , 1645px 1190px #FFF , 976px 329px #FFF , 738px 259px #FFF , 1714px 919px #FFF , 781px 664px #FFF , 1373px 510px #FFF , 258px 1461px #FFF , 1032px 1954px #FFF , 1611px 43px #FFF , 1625px 1695px #FFF , 1721px 57px #FFF , 1326px 1569px #FFF , 942px 241px #FFF , 420px 1379px #FFF , 1417px 1256px #FFF , 216px 297px #FFF , 419px 942px #FFF , 1831px 1349px #FFF , 68px 92px #FFF , 1274px 409px #FFF , 397px 426px #FFF , 784px 1874px #FFF , 1624px 286px #FFF , 1488px 70px #FFF , 1133px 1910px #FFF , 848px 1238px #FFF , 429px 1216px #FFF , 435px 769px #FFF , 423px 422px #FFF , 1296px 42px #FFF , 1621px 1198px #FFF , 1634px 362px #FFF , 1099px 904px #FFF , 1891px 1873px #FFF , 1227px 1558px #FFF , 421px 1773px #FFF , 58px 1245px #FFF , 1937px 546px #FFF , 1007px 1209px #FFF , 1511px 1881px #FFF , 950px 566px #FFF , 1250px 851px #FFF , 198px 607px #FFF , 1791px 1843px #FFF , 1568px 1124px #FFF , 1607px 143px #FFF , 194px 1017px #FFF , 243px 549px #FFF , 621px 1115px #FFF , 1007px 390px #FFF , 994px 486px #FFF , 334px 1467px #FFF , 746px 1800px #FFF , 494px 1895px #FFF , 539px 807px #FFF , 970px 1417px #FFF , 87px 1387px #FFF , 18px 596px #FFF , 1631px 1145px #FFF , 1521px 1982px #FFF , 383px 428px #FFF , 1955px 1339px #FFF , 607px 1390px #FFF , 1227px 1469px #FFF , 1182px 32px #FFF , 1128px 36px #FFF , 1860px 863px #FFF , 1099px 433px #FFF , 1689px 471px #FFF , 1265px 1306px #FFF , 32px 1912px #FFF , 131px 330px #FFF , 1482px 391px #FFF , 600px 265px #FFF , 210px 1804px #FFF , 574px 1564px #FFF , 618px 371px #FFF , 1888px 1521px #FFF , 1739px 1590px #FFF , 811px 151px #FFF , 1843px 1600px #FFF , 1140px 1753px #FFF , 1838px 736px #FFF , 1184px 1966px #FFF , 1305px 1855px #FFF , 865px 601px #FFF , 725px 1775px #FFF , 899px 1278px #FFF , 1504px 400px #FFF , 47px 396px #FFF , 670px 1471px #FFF , 1896px 1131px #FFF , 28px 813px #FFF , 885px 1879px #FFF , 307px 233px #FFF , 237px 1778px #FFF , 296px 195px #FFF , 993px 1894px #FFF , 880px 878px #FFF , 863px 1065px #FFF , 830px 251px #FFF , 1810px 1063px #FFF , 1642px 166px #FFF , 1181px 792px #FFF , 1086px 286px #FFF , 106px 1214px #FFF , 778px 52px #FFF , 1667px 1872px #FFF , 267px 1776px #FFF , 1841px 907px #FFF , 83px 839px #FFF , 246px 483px #FFF , 1374px 966px #FFF , 1910px 1970px #FFF , 1098px 542px #FFF , 239px 11px #FFF , 1704px 502px #FFF , 1567px 1190px #FFF , 1584px 1865px #FFF , 171px 1671px #FFF , 1722px 1361px #FFF , 520px 921px #FFF , 1803px 50px #FFF , 596px 1347px #FFF , 120px 4px #FFF , 693px 802px #FFF , 1387px 1135px #FFF , 1094px 1092px #FFF , 295px 782px #FFF , 328px 35px #FFF , 916px 1309px #FFF , 194px 439px #FFF , 995px 1030px #FFF , 1646px 827px #FFF , 385px 76px #FFF , 1765px 1766px #FFF , 402px 769px #FFF , 2px 907px #FFF , 575px 22px #FFF , 1152px 534px #FFF , 539px 151px #FFF , 1128px 1912px #FFF , 162px 1935px #FFF , 91px 382px #FFF , 483px 420px #FFF , 613px 637px #FFF , 1717px 332px #FFF , 322px 1353px #FFF , 395px 879px #FFF , 571px 366px #FFF , 394px 439px #FFF , 756px 1635px #FFF , 135px 1732px #FFF , 1392px 635px #FFF , 1186px 318px #FFF , 1678px 1856px #FFF , 1072px 86px #FFF , 539px 633px #FFF , 891px 1935px #FFF , 406px 852px #FFF , 746px 1385px #FFF , 1789px 327px #FFF , 304px 432px #FFF , 1489px 1789px #FFF , 1035px 1220px #FFF , 1457px 1727px #FFF , 1823px 735px #FFF , 418px 1979px #FFF , 1422px 366px #FFF , 1274px 1188px #FFF , 1584px 986px #FFF , 1708px 1505px #FFF , 1731px 1943px #FFF , 739px 615px #FFF , 1414px 61px #FFF , 359px 647px #FFF , 187px 1734px #FFF , 637px 521px #FFF , 49px 1235px #FFF , 327px 1290px #FFF , 1665px 1233px #FFF , 1984px 147px #FFF , 666px 1344px #FFF , 1107px 1186px #FFF , 1594px 201px #FFF , 1335px 1579px #FFF , 1661px 252px #FFF , 1443px 511px #FFF , 1340px 240px #FFF , 1336px 1176px #FFF , 715px 84px #FFF , 1210px 433px #FFF , 1348px 1146px #FFF , 1405px 407px #FFF , 384px 973px #FFF , 262px 144px #FFF , 204px 1275px #FFF , 1312px 298px #FFF , 1452px 203px #FFF , 451px 860px #FFF , 1227px 633px #FFF , 857px 92px #FFF , 1248px 499px #FFF , 1086px 976px #FFF , 1343px 1735px #FFF , 1175px 1333px #FFF , 659px 1956px #FFF , 852px 565px #FFF , 149px 1122px #FFF , 515px 1147px #FFF , 855px 1907px #FFF , 1185px 883px #FFF , 1850px 614px #FFF , 725px 1047px #FFF , 1742px 1021px #FFF , 1536px 1979px #FFF , 1506px 1603px #FFF , 1665px 385px #FFF , 1763px 624px #FFF , 392px 1379px #FFF , 598px 594px #FFF , 201px 300px #FFF , 1840px 1630px #FFF , 803px 1286px #FFF , 726px 308px #FFF , 500px 138px #FFF , 1599px 1583px #FFF , 922px 1121px #FFF , 593px 1965px #FFF , 1985px 975px #FFF , 1691px 975px #FFF , 678px 1442px #FFF , 544px 1551px #FFF , 62px 119px #FFF , 1895px 1537px #FFF , 1596px 1729px #FFF , 126px 497px #FFF , 1390px 1503px #FFF , 424px 1603px #FFF , 485px 249px #FFF , 953px 254px #FFF , 275px 1862px #FFF , 1401px 1051px #FFF , 53px 641px #FFF , 352px 194px #FFF , 1149px 1145px #FFF , 1423px 111px #FFF , 1752px 529px #FFF , 967px 704px #FFF , 668px 368px #FFF , 21px 1496px #FFF , 831px 1107px #FFF , 1707px 178px #FFF , 476px 1050px #FFF , 1234px 1425px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1052px 776px #FFF , 1988px 1156px #FFF , 359px 434px #FFF , 107px 199px #FFF , 548px 321px #FFF , 1369px 238px #FFF , 1700px 1849px #FFF , 152px 169px #FFF , 1951px 964px #FFF , 1509px 659px #FFF , 753px 46px #FFF , 420px 1128px #FFF , 629px 286px #FFF , 537px 1208px #FFF , 1080px 218px #FFF , 937px 409px #FFF , 897px 1238px #FFF , 1081px 1920px #FFF , 1321px 126px #FFF , 1682px 1859px #FFF , 627px 1577px #FFF , 1629px 1373px #FFF , 333px 1262px #FFF , 895px 985px #FFF , 841px 1733px #FFF , 131px 1146px #FFF , 1450px 1134px #FFF , 1898px 1135px #FFF , 325px 1311px #FFF , 1372px 273px #FFF , 223px 575px #FFF , 1232px 898px #FFF , 41px 1377px #FFF , 72px 916px #FFF , 1755px 1355px #FFF , 62px 1785px #FFF , 106px 357px #FFF , 1894px 1221px #FFF , 1665px 877px #FFF , 1742px 1069px #FFF , 506px 1015px #FFF , 1101px 633px #FFF , 1176px 1120px #FFF , 911px 730px #FFF , 167px 1721px #FFF , 1456px 1341px #FFF , 1567px 414px #FFF , 629px 837px #FFF , 1205px 371px #FFF , 380px 973px #FFF , 312px 533px #FFF , 92px 165px #FFF , 655px 1353px #FFF , 1157px 147px #FFF , 633px 1799px #FFF , 1757px 694px #FFF , 1453px 425px #FFF , 402px 782px #FFF , 1282px 20px #FFF , 828px 1904px #FFF , 720px 1919px #FFF , 1064px 1086px #FFF , 128px 1312px #FFF , 206px 421px #FFF , 437px 1368px #FFF , 552px 707px #FFF , 1416px 1453px #FFF , 1156px 890px #FFF , 613px 963px #FFF , 435px 1552px #FFF , 1637px 507px #FFF , 289px 968px #FFF , 1976px 1448px #FFF , 1093px 745px #FFF , 805px 1635px #FFF , 1758px 92px #FFF , 1661px 1039px #FFF , 1668px 1391px #FFF , 1719px 1494px #FFF , 1426px 419px #FFF , 1804px 443px #FFF , 951px 1687px #FFF , 1476px 1753px #FFF , 334px 1880px #FFF , 1961px 887px #FFF , 1297px 224px #FFF , 952px 1828px #FFF , 363px 357px #FFF , 405px 1123px #FFF , 1995px 1091px #FFF , 1283px 1072px #FFF , 1095px 836px #FFF , 1604px 1040px #FFF , 784px 819px #FFF , 125px 1642px #FFF , 1701px 1540px #FFF , 577px 1728px #FFF , 1989px 1829px #FFF , 1672px 433px #FFF , 1151px 1182px #FFF , 346px 577px #FFF , 248px 1869px #FFF , 152px 1841px #FFF , 1062px 1730px #FFF , 1111px 1626px #FFF , 619px 726px #FFF , 181px 1552px #FFF , 1901px 1580px #FFF , 1394px 791px #FFF , 721px 1515px #FFF , 555px 635px #FFF , 1644px 1593px #FFF , 168px 1791px #FFF , 864px 1615px #FFF , 718px 1042px #FFF , 1093px 1603px #FFF , 1611px 1684px #FFF , 669px 562px #FFF , 1993px 1101px #FFF , 830px 648px #FFF , 681px 1344px #FFF , 1815px 1251px #FFF , 1935px 1239px #FFF , 979px 873px #FFF , 1706px 34px #FFF , 1732px 1682px #FFF , 1260px 194px #FFF , 1808px 1040px #FFF , 1642px 1888px #FFF , 448px 14px #FFF , 1251px 893px #FFF , 550px 775px #FFF , 579px 1353px #FFF , 547px 1843px #FFF , 1333px 139px #FFF , 612px 794px #FFF , 1440px 77px #FFF , 322px 532px #FFF , 248px 1438px #FFF , 721px 398px #FFF , 1446px 1423px #FFF , 1857px 1642px #FFF , 1395px 406px #FFF , 1302px 725px #FFF , 1795px 54px #FFF , 667px 604px #FFF , 452px 1612px #FFF , 1838px 1120px #FFF , 1969px 1152px #FFF , 728px 443px #FFF , 1732px 1810px #FFF , 1703px 1572px #FFF , 249px 1986px #FFF , 1878px 266px #FFF , 905px 211px #FFF , 1992px 1236px #FFF , 1191px 329px #FFF , 443px 1122px #FFF , 95px 729px #FFF , 361px 35px #FFF , 1339px 606px #FFF , 969px 15px #FFF , 1402px 1943px #FFF , 417px 815px #FFF , 330px 407px #FFF , 84px 842px #FFF , 1360px 1652px #FFF , 194px 550px #FFF , 1474px 1187px #FFF , 723px 1214px #FFF , 13px 1129px #FFF , 1564px 1355px #FFF , 1849px 1970px #FFF , 1193px 920px #FFF , 1911px 1247px #FFF , 1287px 607px #FFF , 1429px 1090px #FFF , 1085px 414px #FFF , 741px 199px #FFF , 885px 1590px #FFF , 1358px 1078px #FFF , 847px 1443px #FFF , 42px 576px #FFF , 1818px 233px #FFF , 1316px 1130px #FFF , 1451px 1812px #FFF , 1996px 1366px #FFF , 1859px 212px #FFF , 274px 715px #FFF , 563px 1778px #FFF , 1117px 57px #FFF , 659px 1932px #FFF , 976px 184px #FFF , 839px 1257px #FFF , 1672px 29px #FFF , 38px 363px #FFF , 1696px 1136px #FFF , 754px 1657px #FFF , 871px 1156px #FFF , 639px 833px #FFF;
  animation: animStar 100s linear infinite;
  z-index: -10;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1052px 776px #FFF , 1988px 1156px #FFF , 359px 434px #FFF , 107px 199px #FFF , 548px 321px #FFF , 1369px 238px #FFF , 1700px 1849px #FFF , 152px 169px #FFF , 1951px 964px #FFF , 1509px 659px #FFF , 753px 46px #FFF , 420px 1128px #FFF , 629px 286px #FFF , 537px 1208px #FFF , 1080px 218px #FFF , 937px 409px #FFF , 897px 1238px #FFF , 1081px 1920px #FFF , 1321px 126px #FFF , 1682px 1859px #FFF , 627px 1577px #FFF , 1629px 1373px #FFF , 333px 1262px #FFF , 895px 985px #FFF , 841px 1733px #FFF , 131px 1146px #FFF , 1450px 1134px #FFF , 1898px 1135px #FFF , 325px 1311px #FFF , 1372px 273px #FFF , 223px 575px #FFF , 1232px 898px #FFF , 41px 1377px #FFF , 72px 916px #FFF , 1755px 1355px #FFF , 62px 1785px #FFF , 106px 357px #FFF , 1894px 1221px #FFF , 1665px 877px #FFF , 1742px 1069px #FFF , 506px 1015px #FFF , 1101px 633px #FFF , 1176px 1120px #FFF , 911px 730px #FFF , 167px 1721px #FFF , 1456px 1341px #FFF , 1567px 414px #FFF , 629px 837px #FFF , 1205px 371px #FFF , 380px 973px #FFF , 312px 533px #FFF , 92px 165px #FFF , 655px 1353px #FFF , 1157px 147px #FFF , 633px 1799px #FFF , 1757px 694px #FFF , 1453px 425px #FFF , 402px 782px #FFF , 1282px 20px #FFF , 828px 1904px #FFF , 720px 1919px #FFF , 1064px 1086px #FFF , 128px 1312px #FFF , 206px 421px #FFF , 437px 1368px #FFF , 552px 707px #FFF , 1416px 1453px #FFF , 1156px 890px #FFF , 613px 963px #FFF , 435px 1552px #FFF , 1637px 507px #FFF , 289px 968px #FFF , 1976px 1448px #FFF , 1093px 745px #FFF , 805px 1635px #FFF , 1758px 92px #FFF , 1661px 1039px #FFF , 1668px 1391px #FFF , 1719px 1494px #FFF , 1426px 419px #FFF , 1804px 443px #FFF , 951px 1687px #FFF , 1476px 1753px #FFF , 334px 1880px #FFF , 1961px 887px #FFF , 1297px 224px #FFF , 952px 1828px #FFF , 363px 357px #FFF , 405px 1123px #FFF , 1995px 1091px #FFF , 1283px 1072px #FFF , 1095px 836px #FFF , 1604px 1040px #FFF , 784px 819px #FFF , 125px 1642px #FFF , 1701px 1540px #FFF , 577px 1728px #FFF , 1989px 1829px #FFF , 1672px 433px #FFF , 1151px 1182px #FFF , 346px 577px #FFF , 248px 1869px #FFF , 152px 1841px #FFF , 1062px 1730px #FFF , 1111px 1626px #FFF , 619px 726px #FFF , 181px 1552px #FFF , 1901px 1580px #FFF , 1394px 791px #FFF , 721px 1515px #FFF , 555px 635px #FFF , 1644px 1593px #FFF , 168px 1791px #FFF , 864px 1615px #FFF , 718px 1042px #FFF , 1093px 1603px #FFF , 1611px 1684px #FFF , 669px 562px #FFF , 1993px 1101px #FFF , 830px 648px #FFF , 681px 1344px #FFF , 1815px 1251px #FFF , 1935px 1239px #FFF , 979px 873px #FFF , 1706px 34px #FFF , 1732px 1682px #FFF , 1260px 194px #FFF , 1808px 1040px #FFF , 1642px 1888px #FFF , 448px 14px #FFF , 1251px 893px #FFF , 550px 775px #FFF , 579px 1353px #FFF , 547px 1843px #FFF , 1333px 139px #FFF , 612px 794px #FFF , 1440px 77px #FFF , 322px 532px #FFF , 248px 1438px #FFF , 721px 398px #FFF , 1446px 1423px #FFF , 1857px 1642px #FFF , 1395px 406px #FFF , 1302px 725px #FFF , 1795px 54px #FFF , 667px 604px #FFF , 452px 1612px #FFF , 1838px 1120px #FFF , 1969px 1152px #FFF , 728px 443px #FFF , 1732px 1810px #FFF , 1703px 1572px #FFF , 249px 1986px #FFF , 1878px 266px #FFF , 905px 211px #FFF , 1992px 1236px #FFF , 1191px 329px #FFF , 443px 1122px #FFF , 95px 729px #FFF , 361px 35px #FFF , 1339px 606px #FFF , 969px 15px #FFF , 1402px 1943px #FFF , 417px 815px #FFF , 330px 407px #FFF , 84px 842px #FFF , 1360px 1652px #FFF , 194px 550px #FFF , 1474px 1187px #FFF , 723px 1214px #FFF , 13px 1129px #FFF , 1564px 1355px #FFF , 1849px 1970px #FFF , 1193px 920px #FFF , 1911px 1247px #FFF , 1287px 607px #FFF , 1429px 1090px #FFF , 1085px 414px #FFF , 741px 199px #FFF , 885px 1590px #FFF , 1358px 1078px #FFF , 847px 1443px #FFF , 42px 576px #FFF , 1818px 233px #FFF , 1316px 1130px #FFF , 1451px 1812px #FFF , 1996px 1366px #FFF , 1859px 212px #FFF , 274px 715px #FFF , 563px 1778px #FFF , 1117px 57px #FFF , 659px 1932px #FFF , 976px 184px #FFF , 839px 1257px #FFF , 1672px 29px #FFF , 38px 363px #FFF , 1696px 1136px #FFF , 754px 1657px #FFF , 871px 1156px #FFF , 639px 833px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1981px 1853px #FFF , 1176px 1555px #FFF , 1975px 987px #FFF , 971px 1221px #FFF , 342px 1241px #FFF , 1549px 711px #FFF , 1692px 1436px #FFF , 638px 612px #FFF , 640px 1957px #FFF , 1156px 242px #FFF , 1554px 1248px #FFF , 1651px 1233px #FFF , 499px 827px #FFF , 84px 845px #FFF , 686px 1511px #FFF , 1802px 1430px #FFF , 943px 773px #FFF , 1116px 164px #FFF , 404px 568px #FFF , 759px 830px #FFF , 267px 111px #FFF , 1351px 1938px #FFF , 1885px 70px #FFF , 370px 1643px #FFF , 133px 1079px #FFF , 456px 12px #FFF , 1910px 447px #FFF , 910px 947px #FFF , 775px 1661px #FFF , 1561px 285px #FFF , 340px 551px #FFF , 1101px 1349px #FFF , 270px 1091px #FFF , 1177px 1842px #FFF , 236px 110px #FFF , 37px 713px #FFF , 121px 985px #FFF , 895px 585px #FFF , 1415px 1324px #FFF , 973px 343px #FFF , 1987px 220px #FFF , 612px 549px #FFF , 1816px 1102px #FFF , 536px 1995px #FFF , 115px 1083px #FFF , 1917px 977px #FFF , 14px 889px #FFF , 1440px 1060px #FFF , 1408px 973px #FFF , 44px 1203px #FFF , 340px 1995px #FFF , 218px 24px #FFF , 193px 1755px #FFF , 706px 318px #FFF , 638px 1512px #FFF , 974px 466px #FFF , 1622px 1400px #FFF , 1521px 352px #FFF , 947px 1891px #FFF , 491px 916px #FFF , 165px 1234px #FFF , 884px 1652px #FFF , 856px 234px #FFF , 1442px 34px #FFF , 1160px 443px #FFF , 1911px 908px #FFF , 1323px 1843px #FFF , 893px 84px #FFF , 1211px 1457px #FFF , 1498px 1369px #FFF , 1022px 534px #FFF , 1451px 186px #FFF , 282px 1500px #FFF , 635px 1575px #FFF , 1306px 338px #FFF , 1280px 75px #FFF , 1689px 292px #FFF , 1217px 935px #FFF , 48px 531px #FFF , 1931px 1434px #FFF , 267px 355px #FFF , 481px 495px #FFF , 1651px 1257px #FFF , 1340px 1278px #FFF , 521px 930px #FFF , 1003px 139px #FFF , 335px 466px #FFF , 98px 1127px #FFF , 1718px 1462px #FFF , 466px 1828px #FFF , 1908px 1875px #FFF , 211px 539px #FFF , 1246px 1px #FFF , 1304px 1864px #FFF , 1462px 1077px #FFF , 737px 271px #FFF , 1296px 335px #FFF , 1664px 1591px #FFF , 1894px 391px #FFF , 874px 1728px #FFF;
  animation: animStar 150s linear infinite;
  z-index: -10;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1981px 1853px #FFF , 1176px 1555px #FFF , 1975px 987px #FFF , 971px 1221px #FFF , 342px 1241px #FFF , 1549px 711px #FFF , 1692px 1436px #FFF , 638px 612px #FFF , 640px 1957px #FFF , 1156px 242px #FFF , 1554px 1248px #FFF , 1651px 1233px #FFF , 499px 827px #FFF , 84px 845px #FFF , 686px 1511px #FFF , 1802px 1430px #FFF , 943px 773px #FFF , 1116px 164px #FFF , 404px 568px #FFF , 759px 830px #FFF , 267px 111px #FFF , 1351px 1938px #FFF , 1885px 70px #FFF , 370px 1643px #FFF , 133px 1079px #FFF , 456px 12px #FFF , 1910px 447px #FFF , 910px 947px #FFF , 775px 1661px #FFF , 1561px 285px #FFF , 340px 551px #FFF , 1101px 1349px #FFF , 270px 1091px #FFF , 1177px 1842px #FFF , 236px 110px #FFF , 37px 713px #FFF , 121px 985px #FFF , 895px 585px #FFF , 1415px 1324px #FFF , 973px 343px #FFF , 1987px 220px #FFF , 612px 549px #FFF , 1816px 1102px #FFF , 536px 1995px #FFF , 115px 1083px #FFF , 1917px 977px #FFF , 14px 889px #FFF , 1440px 1060px #FFF , 1408px 973px #FFF , 44px 1203px #FFF , 340px 1995px #FFF , 218px 24px #FFF , 193px 1755px #FFF , 706px 318px #FFF , 638px 1512px #FFF , 974px 466px #FFF , 1622px 1400px #FFF , 1521px 352px #FFF , 947px 1891px #FFF , 491px 916px #FFF , 165px 1234px #FFF , 884px 1652px #FFF , 856px 234px #FFF , 1442px 34px #FFF , 1160px 443px #FFF , 1911px 908px #FFF , 1323px 1843px #FFF , 893px 84px #FFF , 1211px 1457px #FFF , 1498px 1369px #FFF , 1022px 534px #FFF , 1451px 186px #FFF , 282px 1500px #FFF , 635px 1575px #FFF , 1306px 338px #FFF , 1280px 75px #FFF , 1689px 292px #FFF , 1217px 935px #FFF , 48px 531px #FFF , 1931px 1434px #FFF , 267px 355px #FFF , 481px 495px #FFF , 1651px 1257px #FFF , 1340px 1278px #FFF , 521px 930px #FFF , 1003px 139px #FFF , 335px 466px #FFF , 98px 1127px #FFF , 1718px 1462px #FFF , 466px 1828px #FFF , 1908px 1875px #FFF , 211px 539px #FFF , 1246px 1px #FFF , 1304px 1864px #FFF , 1462px 1077px #FFF , 737px 271px #FFF , 1296px 335px #FFF , 1664px 1591px #FFF , 1894px 391px #FFF , 874px 1728px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}

/*# sourceMappingURL=index.css.map */
