@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Montserrat:wght@600&display=swap");

$light-purple: #A1A1F1;
$light-blue: #15C4FE;
$dark-purple: #7D45FF;
$nav-background: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse, #1b2735 0%, #090a0f 100%);
  color: #fff;
  line-height: 1.6;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: $nav-background;
  backdrop-filter: blur(10px);
  opacity: 0.8;
  z-index: 2;
}

nav img {
  width: 300px;
  margin-left: -10px;
}

.nav-links {
  display: flex;
  padding: 20px;
  justify-content: flex-end;
  align-items: center;
}

.nav-links a {
  margin-left: 1.5rem;
  color: #FAFAFA;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 400;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.866);
  color: #3e3eea;
  transform: scale(1.1);
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #FAFAFA;
  font-size: 1.5rem;
  cursor: pointer;
}

.contact-link {
  background-color: #3e3eea;
  color: #000;
  font-weight: 600;
}

.contact-link:hover {
  background-color:#A1A1F1;
  color: #000;
  box-shadow: 0 0 20px rgba(246, 193, 0, 0.0);
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  padding: 0 3rem;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hero h1 span {
  // background: $dark-purple;
  background: linear-gradient(-90deg, $light-blue 20%, $light-purple 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero button {
  background-color: #A1A1F1;
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(161, 161, 241, 0.5);
  transition: all 0.3s ease;
}

.hero button:hover {
  background-color: #5959ec;
  box-shadow: 0 0 30px rgba(143, 210, 255, 0.8);
}

.hero img {
  max-width: 400px;
  animation: rocketMovement 3s infinite ease-in-out;
}

.about {
  padding: 2rem 2rem;
}

.about h2 {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
  color: #A1A1F1;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.about-text {
  flex: 1 1 400px;
  max-width: 600px;
}

.about-text h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-text p {
  margin-bottom: 2rem;
}

.about-text button {
  background-color: #A1A1F1;
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-text button:hover {
  background-color: #5959ec;
  box-shadow: 0 0 20px rgba(143, 210, 255, 0.8);
}

.about-image {
  flex: 1 1 400px;
  max-width: 400px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.image-carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.image-carousel img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.image-carousel img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.our-vision {
  padding: 4rem 2rem;
  text-align: left;
  color: #ffffff;
}

.our-vision h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: #A1A1F1;
  text-align: center;
}

.our-vision p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: left;
}

.our-vision ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.our-vision ul li {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.team {
  padding: 5rem 2rem;
  text-align: center;
}

.team h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 400;
  color: #A1A1F1;
}

.team-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 40%;
  margin-bottom: 2rem;
}

.team-member img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.team-member-info {
  text-align: center;
}

.team-member-info h3 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.team-member-info p {
  font-size: 1rem;
  color: #666;
}

.footer {
  background: #1b2735;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.footer h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-links a {
  color: #fff;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.contact-links a img {
  width: 50px;
  height: 50px;
}

.contact-links a:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .team-row {
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }
  .hero-content {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  .hero img {
    display: none;
    max-width: 300px;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #090a0f;
    flex-direction: column;
    padding-top: 60px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links a {
    margin: 1.5rem 0;
    font-size: 1.5rem;
  }

  .nav-toggle {
    display: block;
  }

  .team-row {
    flex-direction: column;
  }

  .team-member {
    flex-direction: column;
    text-align: center;
  }

  .team-member img {
    margin-bottom: 10px;
  }

  .team-member-info {
    text-align: center;
  }
}

@keyframes rocketMovement {
  0% {
    transform: translateY(0) scaleX(-1);
  }
  50% {
    transform: translateY(-10%) scaleX(-1);
  }
  100% {
    transform: translateY(0) scaleX(-1);
  }
}

#stars, #stars2, #stars3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

// n is number of stars required
@function multiple-box-shadow ($n) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $n {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;
  z-index: -10;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;
  z-index: -10;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 1000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;
  z-index: -10;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 0;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(2000px);
  }
}
